.details-heading {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.details-heading h1 {
    font-size: 50px;
    color: orangered;
}

.details-heading p {
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
    max-width: 70%;
    padding: auto 0;
    margin-left: 15%;
}

.recipe-requirements {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.details-img {
    max-width: 600px;
    min-height: 600px;
    border: 2px solid #fff;
}

.section-content {
    padding: 35px;
    margin-left: 5%;
}

.needed-times {
    color: #36455c;
    font-size: 24px;
    margin: 25px 0px;
    line-height: 1.5;
}

.section-content {
    font-size: 15px;
    color: #fff;
}

.section-content p {
    color: orangered;
}

.method-info {
    color: #fff;
}

.all-ingredients h1 {
    font-size: 40px;
    margin: 15px 0;
}

.all-ingredients p {
    font-size: 20px;
    color: #fff;
}

.cooking-method h1 {
    font-size: 40px;
    margin: 20px 0;
}

.cooking-method p {
    color: #fff;
}

.owner-buttons .button {
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    padding: 15px;
    background-color: orangered;
    color: white;
    border-radius: 16px;
    margin-left: 10%;
    transition: .5s;
}

.owner-buttons .button:hover {
    background-color: #fff;
    color: orangered;
    opacity: 5px;
    cursor: pointer;
}